html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #000;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

#section1 {
    position: absolute;
    width: 1280px;
    height: 60px;
    left: 0px;
    top: 24px;

    background: #000000;
}

#section1 {
    /* Nav*/

    position: absolute;
    width: 1280px;
    height: 60px;
    left: 0px;
    top: 24px;

    background: #000000;
}

#logo {
    /* flixy Logo */

    position: absolute;
    width: 122.07px;
    height: 20px;
    left: 20px;
    top: .1px;

    /* flixy */

    position: absolute;
    left: 5%;
    right: 0%;
    top: .1px;
    bottom: 0%;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 28.4444px;
    line-height: 32px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #C4C4C4;
}

#log {
   /* Button
    Outline Button
    */

    position: absolute;
    width: 100px;
    height: 40px;
    left: 981px;
    top: 24px; 

    /* Log in */

    position: absolute;
    /*left: 32.31%;*/
    right: 31.54%;
    top: 27.5%;
    bottom: 27.5%;
    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    /*line-height: 18px;
    display: flex;*/
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    /* Actionable Item */

    color: #18A0FB;

    /* Rectangle 1 */

    box-sizing: border-box;

    position: absolute;
    /*left: 0%;
    right: 0%;*/
    top: 24px;
    bottom: 0%;

    background: #FFFFFF;
    /* Actionable Item */

    border: 1px solid #18A0FB;
    border-radius: 6px
}

#sign{
    /* Button
            Primary Button
    */

    position: absolute;
    width: 100px;
    height: 40px;
    left: 1136px;
    top: 24px;

    /* Register */

    position: absolute;
    left: 27.69%;
    right: 26.92%;
    top: 27.5%;
    bottom: 27.5%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    /*line-height: 18px;
    display: flex;*/
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;

    /* Rectangle 2 */

    position: absolute;
    left: 90%;
    right: 0%;
    top: 24px;
    bottom: 0%;

    background: #E50914;
    border-radius: 6px;
}

.section2 {
    /* LANDING PAGE */

    position: absolute;
    width: 1450px;
    height: 720px;
    left: 0px;
    top: 110px;

    /*background: #FFFFFF;*/

    white-space: nowrap;

    background-image: url(./Img/LANDING2.2.png);
    position: absolute;
    width: 1450px;
    height: 606px;
}

#p1{
    /*container p1 H1*/

    position: absolute;
    width: 1000px;
    height: 80px;
    left: 140px;
    top: 93px;

    /* p1 text */

    position: absolute;
    left: 150px;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* p1 H1 */

    font-family: 'Montserrat';
    font-style: normal; 
    font-weight: 100;
    font-size: 50px;
    line-height: 150px;

    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: -0.015em;

    color: #ffffff;

}

#p2 {
    /* container p2 H4*/

    position: absolute;
    width: 1392px;
    height: 80px;
    left: -25px;
    top: 310px;

    /* p2 H4 text*/


    position: absolute;
    left: 0%;
    right: 0%;
    top: 30%;
    bottom: 0%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 35px;
    line-height: 80px;

    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;

}

#p3 {
    /* container p3 p */

    position: absolute;
    width: 1392px;
    height: 80px;
    left: 0px;

    /* p3 p text */

    position: absolute;
    left: 0%;
    right: 0%;
    top: 40%;
    bottom: 0%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 80px;

    /* identical to box height, or 267% */

    text-align: center;
    letter-spacing: -0.015em;

    color: #ffffff;
}

.join {
    /* email container */

    box-sizing: border-box;

    position: absolute;
    width: 400px;
    height: 35px;
    left: 35%;
    top: 435px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);

}

#email{
    /* Email address */ /*Ajust email position */

    position: absolute;
    width: 390px;
    height: 28px;
    margin-left: auto;
    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    

    /* identical to box height, or 160% */

    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
}

#joinbtn {
    /*  btn */

    /*position: absolute;
    width: 159px;
    height: 52px;
    left: 779px;
    top: 432px;*/

    /* Button Primary Button*/

    position: absolute;
    width: 100px;
    height: 33px;
    left: 75%;

    background: #FFFFFF;
    border-radius: 1px;

     /* Join Today */

     font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    

    /* identical to box height */

    
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;

    /* Rectangle 2 */


    position: absolute;
    top: 0%;
    bottom: 0%;

    background: #E50914;
    border-radius: 1px;
}

.section3 {
    /* COMING SOON */

    position: absolute;
    width: 1450px;
    height: 100vh;
    left: 0px;
    top: 815px;
    margin: auto;height: 700px;

    background: #000000;
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
}

#comingsoon {
    /* COMING SOON */

    position: absolute;
    width: 252px;
    height: 5px;
    left: 18.4px;
    top: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 250;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;
}

#cards {
    /* GN*/

    position: absolute;
    width: 193px;
    height: 241px;
    left: 23px;
    top: 197px;

    background: url(./Img/GN.JPG);
    border-radius: 15px;
}

#mini {
    /* Rectangle 2 */

    position: absolute;
    width: 228px;
    height: 305px;
    left: 262px;
    top: 170px;

    background: url(./Img/MINIONS\ copy.JPG);
    border-radius: 15px;
}

#rat {
    /* smile */

    position: absolute;
    width: 298px;
    height: 505px;
    left: 524px;
    top: 89px;

    background: url(./Img/RAT\ CHEESE\ copy.JPG);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}

#loofy {
    /*loofy*/

    position: absolute;
    width: 228px;
    height: 305px;
    left: 868px;
    top: 170px;

    background: url(./Img/LOFFY\ copy.JPG);
    border-radius: 15px;
}

#blue {
    /* blue*/


    position: absolute;
    width: 193px;
    height: 241px;
    left: 1130px;
    top: 202px;

    background: url(./Img/BLUE\ MAN\ \ copy.JPG);
    border-radius: 15px;
}

.section4{
    /* TRENDING NOW */

    position: absolute;
    width: 1450px;
    left: 0px;
    top: 1530px;
    margin: auto;height: 785px;

    background: #303030;
}

div {
    column-gap: 4px double #ffff;
}

#trending {
    /* TRENDING NOW */

    position: absolute;
    width: 252px;
    height: 5px;
    left: 18.4px;
    top: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 250;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;
}

#smile {
    /* smile */

    position: absolute;
    width: 250px;
    height: 443px;
    left: 31px;
    top: 143px;

    background-image: url(./Img/JOKER2.JPG);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}

#chik {
   /* chik */


    position: absolute;
    width: 193px;
    height: 338px;
    left: 305px;
    top: 196px;

    background: url(./Img/CHIKK\ copy.JPG);
    border-radius: 15px; 
}

#knd {
    /* knd */

    position: absolute;
    width: 223px;
    height: 338px;
    left: 525px;
    top: 194px;

    background: url(./Img/KND.JPG);
    border-radius: 15px;
}

#beach {
    /* beach */

    position: absolute;
    width: 286px;
    height: 342px;
    left: 775px;
    top: 194px;

    background: url(./Img/BEACH.JPG);
    border-radius: 15px;
}

#wow {
    /* wow */


    position: absolute;
    width: 282px;
    height: 338px;
    left: 1085px;
    top: 194px;

    background: url(Img/WOW\ copy.JPG);
    border-radius: 15px;
}

.section5 {
    /* WATCHING NOW*/ 

    position: absolute;
    width: 1450px;
    height: 622px;
    left: 0px;
    top: 2400px;
    margin: auto;height: 700px;

    background: #000000;
}

#watching {
    /* WATCHING NOW */

    position: absolute;
    width: 280px;
    height: 5px;
    left: 20px;
    top: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 250;
    font-size: 20px;
    line-height: 30px;

    /* identical to box height, or 86% */

    letter-spacing: -0.015em;
    color: #E5E5E5;
}

#huey {
    /* BOONDOCKS 1 */

    position: absolute;
    width: 464px;
    height: 517px;
    left: 536px;
    top: 47px;

    background: url(./Img/BOONDOCKS.JPG);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}

#afro{
    /*afro title*/

    position: absolute;
    width: 686px;
    height: 36px;
    left: 40px;
    top: 150px;

    /* Body H4 */

    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;

    /* identical to box height, or 150% */

    letter-spacing: -0.015em;

    color: #D9D9D9;
}

#fro {
    /*description*/

    position: absolute;
    width: 492px;
    height: 85px;
    left: 25px;
    top: 255px;

    /* Body P */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 150;
    font-size: small;
    line-height: 30px;

    /* or 167% */

    letter-spacing: -0.015em;

    color: #D1D1D1;

}

#stream {
    /* STREAM NEXT */

    position: absolute;
    width: 206px;
    height: 30px;
    left: 82%;
    top: 88px;

    font-family: 'Inter';
    font-style:normal;
    font-weight: 250;
    font-size: small;
    line-height: 30px;
    /* identical to box height, or 100% */

    letter-spacing: -0.015em;

    color: #E5E5E5;
}

#magic {
    /*magic*/

    position: absolute;
    width: 265px;
    height: 309px;
    left: 76%;
    top: 151px;

    background: url(./Img/HOOP\ copy.JPG);
    border-radius: 15px;
}